<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teste Neocredit</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <h1>
        <img align="center"
            src="https://media.licdn.com/dms/image/C4D0BAQEfkYSGL9K8Qw/company-logo_200_200/0/1617128094252?e=1689206400&v=beta&t=7oikIuCOhOLFJ-6VKLUVKQRmce61zlgoH4SX-3lmwVY"
            style="width: 100px; height: 100px;">
        Neocredit - &nbsp;Teste Técnico Dev Python - Leonardo Mota
    </h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html> 